{% extends 'Tienda/base.html' %}


{% block contenido %}
<section id="nosotros">
    <div class="container">
        <div class="row">
            <h1>
                Nuestro equipo
            </h1>
            <div class="col-3 py-5">
                <img src="img/equipo01-2.jpg" alt="Pablo Yovera" class="img-thumbnail">
            </div>
            <div class="col-9 py-5">
                <h4>
                    Pablo Yovera
                </h4>
                <p>
                    Estudiante de 2º año Analista de programación en DuocUC
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3 py-5">
                <img src="img/equipo02-2.jpg" alt="Loreto Garrido" class="img-thumbnail">
            </div>
        <div class="col-9 py-5">
            <h4>
                Loreto Garrido
            </h4>
            <p>
                Estudiante de 2º año Analista de programación en DuocUC
            </p>
        </div>
    </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
